.maplibre-search-box {
  box-sizing: content-box;
  width: 280px;

  .maplibre-search-box-loading {
    .spinner {
      display: block !important;
    }

    .cancel {
      display: none !important;
    }
  }

  .input-container {
    input {
      border-radius: 100rem;
      font-size: 1rem;
      height: 24px;
      padding: 1.2rem 1rem;
      width: 100%;
      border: none;
      background: var(--honeydew);
      box-shadow: 0px 0px 4px var(--charcoal-brown);

      &:focus {
        outline: none;
        box-shadow: 0px 0px 4px var(--blaze-orange);
      }
    }

    .spinner {
      position: absolute;
      right: 5px;
      top: 8px;

      &.hidden {
        display: none;
      }
    }

    .cancel {
      background: #aaa;
      border-radius: 50%;
      cursor: pointer;
      display: block;
      font-size: 1.5rem;
      height: 20px;
      opacity: .5;
      position: absolute;
      right: 0.5rem;
      top: 0.6rem;
      width: 20px;

      &:hover,
      &.hover {
        opacity: 1;
      }

      &:before,
      &:after {
        background-color: #fff;
        content: " ";
        height: 10px;
        left: 9px;
        position: absolute;
        top: 5px;
        width: 2px;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }

      &.hidden {
        display: none;
      }
    }
  }

  .results {
    background: var(--honeydew);
    border-radius: 5px;
    margin: 10px 0;
    width: 284px;

    &.hidden {
      display: none;
    }

    .results-list {
      height: 100%;
      max-height: 500px;
      overflow-y: scroll;

      &:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }

    .result {
      border-bottom: 1px dashed #bbb;
      cursor: pointer;
      font-size: 1rem;
      padding: 5px;

      &:hover,
      &.hover {
        background: #dfdfdf;
      }

      &:last-child {
        border: 0;
      }
    }

    .no-result {
      font-style: italic;

      &:hover,
      &.hover {
        background: inherit;
        cursor: inherit;
      }
    }

    .result-icon {
      float: left;
      vertical-align: middle;
    }

    .result-label {
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .result-extra {
      font-size: .7rem;
      font-style: italic;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: uppercase;
    }
  }

  .search-attribution {
    border-top: 1px dotted #bbb;
    padding: 5px;

    a {

      &,
      &:visited {
        color: #000;
      }
    }

    .logo {
      float: left;
      height: 50px;
      image-rendering: crisp-edges;
      position: relative;
      top: -5px;
      width: 50px;
    }
  }

  .lds-dual-ring {
    display: inline-block;
    height: 20px;
    width: 20px;

    &:after {
      animation: lds-dual-ring 1.2s linear infinite;
      border-width: 1.5px;
      border-style: solid;
      border-color: #ccc transparent;
      border-radius: 50%;
      content: " ";
      display: block;
      height: 16px;
      margin: 2px;
      width: 16px;
    }
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
