/* Josh W. Comeau's Modern CSS Reset */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  letter-spacing: -0.05em;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  font-family: sans-serif;
  --primary-50: #feeee6;
  --primary-100: #fddece;
  --primary-200: #fbbc9d;
  --primary-300: #fa9b6b;
  --primary-400: #f8793a;
  --primary-500: #f65809;
  --primary-600: #c54607;
  --primary-700: #943505;
  --primary-800: #622304;
  --primary-900: #311202;
  --primary-950: #220c01;

  --blaze-orange: #f76218;
  --indigo: #540d6e;
  --golden-pollen: #ffd23f;
  --honeydew: #f3fcf0;
  --charcoal-brown: #1f271b;

  color: var(--charcoal-brown);
  background-color: var(--honeydew);

}

/* a { */
/*   text-decoration: none; */
/* } */
